:root {
  /* Global Design System */

  /* Brand Colors */
  --primary-color: #A5B9B0;
  --secondary-color: #CF7019;
  --lighter-secondary-color: #E0975A;
  --tertiary-color: #124076;

  /* Neutral Colors */
  --white: #FFFFFF;
  --black: #000000;

  /* Fonts */
  --font-family: "Varela Round", sans-serif;
}

body {
  margin: 0; /*removing spacing that is being automaticly set by the browser*/
  direction: rtl;
  font-family: var(--font-family);
  font-size: 16px;
  background-image: url("../assets/images/background.png");
  background-size: 100%;
  background-position: top center;
  background-repeat: repeat;
}
h1,
h2,
h3,
h4,
p{
  margin: 0;
  color: var(--tertiary-color);
}

.back-icon {
  /* justify-self: start; */
  display: block;
  width: 2rem;
  height: 2rem;
}

.back-icon img {
  
  width: 100%;
  height: 100%;
}

.register-button {
  justify-self: center;

  padding: 0.9rem;
  border: none;
  border-radius: 1rem;

  background-color: var(--lighter-secondary-color);
  color: var(--tertiary-color);

  cursor: pointer;
}
.register-button:hover {
  background-color: var(--secondary-color);
}

.error-message {
  text-align: center;
  color: #E53935;
}