.lesson-page {
  display: grid;
  padding: 2rem 1.25rem;
}

.lesson-info-card {
  margin-top: 19vh;
  margin-bottom: 15vh;
  display: grid;

  gap: 1.5rem;
  padding: 2rem;
  border-radius: 1.5rem;

  background-color: var(--white);
  color: var(--tertiary-color);
}

.lesson-register-button {
  justify-self: center;

  padding: 0.9rem;
  border: none;
  border-radius: 1rem;

  background-color: var(--lighter-secondary-color);
  color: var(--tertiary-color);

  cursor: pointer;
}

.lesson-register-button:hover {
  background-color: var(--secondary-color);
}

.back-home-link {
  justify-self: start;
  width: 2rem;
  height: 2rem;
}

.back-home-link img {
  width: 100%;
  height: 100%;
}