.login-page {
  display: grid;
  padding: 2rem 1.25rem;
}

.login-title {
  margin: 3rem 0 2rem;
  text-align: center;
}

.login-card {
  display: grid;
  grid-template-columns: 8rem 1fr;
  align-items: center;
  gap: 1.5rem 1rem;

  padding: 2rem;
  border-radius: 1.5rem;
  background-color: var(--white);
}

.login-card h3 {
  justify-self: start;
  text-align: right;
}

.login-card input {
  width: 100%;
  box-sizing: border-box;
  padding: 0.8rem;

  background-color: var(--primary-color);
  border-radius: 0.8rem;
}

.login-register-link {
  color: var(--secondary-color);
  text-decoration: underline;
}

.login-register-link:active {
  color: #0A66C2;
}