.login-page {
  display: grid;
  padding: 2rem 1.25rem;
}

.login-title {
  margin: 3rem 0 2rem;
  text-align: center;
}

.login-card {
  display: grid;
  gap: 1.5rem;
  padding: 2rem;
  border-radius: 1.5rem;
  background-color: var(--white);
}

.login-card input {
  padding: 0.8rem;
  background-color: var(--primary-color);
  border-radius: 0.8rem;
}

.login-error {
  text-align: center;
  color: var(--secondary-color);
}

.login-register-link {
  color: var(--secondary-color);
  text-decoration: none;
}

.login-register-link:hover {
  text-decoration: underline;
}