.rules-page {
  display: grid;
  padding: 2rem 1.25rem;
}

.rules-card {
  margin-top: 9vh;
  max-height: 60vh;
  display: grid;
  gap: 1rem;
  padding: 2rem;
  border-radius: 1.5rem;
  background-color: var(--white);
  color: var(--tertiary-color);
  overflow-y: auto;
}

