.shop-page {
  display: grid;
  gap: 2rem;
  padding: 2rem 1.25rem;
}

.shop-page h1 {
  text-align: center;
}

.products-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}