.signup-page {
  display: grid;
  padding: 2rem 1.25rem;

}

.signup-card {
  display: grid;
  place-items: center;
  text-align: center;
  grid-template-columns: 8rem 1fr;
  gap: 1.5rem 1rem;

  padding: 2rem;
  border-radius: 1.5rem;
  background-color: var(--white);
}

.signup-card h4 {
  justify-self: start;
  text-align: right;
}

.signup-card input {
  width: 100%;
  padding: 0.4rem;

  background-color: var(--primary-color);
  border-radius: 0.8rem;
}
.signup-card h4::after {
  content: " *";
  color: #E53935;
}

.signup-card .optional-field::after {
  content: "";
}