.home-page {
    min-height: 100vh;

    display: grid;

    padding: 24px;

    background-image: url("./assets/images/background.png");
    background-size: 100%;
    background-position: top center;
    background-repeat: repeat;
}


.logo {
    width: 70%;
    justify-self: center;
}

.info-cards-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));
  gap: 1rem;
}
